## Control Flow Statements II

### Looping Statements

#### 1. While Statements

In [2]:
a = 10
while a != 0:
    print(a)
    a = a - 1

10
9
8
7
6
5
4
3
2
1

#### 2. For Statements 

- In python the for statement syntax looks like this
        for iterator in iterable:
            Statements.....
            
- Iterable refers to an object that can be broken down into smaller elements like an array or a string or even a range

- An iterator iterates over an iterable

In [5]:
for a in "python": #using a string as an iterable
    print(a)

p
y
t
h
o
n

In [7]:
for a in range(5,10): #using a range -> first number in range is included but only up to second number
                      #excluding 
    print(a)

5
6
7
8
9